@font-face {
  font-family: "Lato";
  src: local("Font Name"), url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato600";
  src: local("Font Name"), url(../fonts/Lato-SemiBold.ttf);
}
@font-face {
  font-family: "Lato700";
  src: local("Font Name"), url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato800";
  src: local("Font Name"), url(../fonts/Lato-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  color: inherit;
  outline: none;
  list-style: none;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 40px;
  padding-bottom: 36px;
  z-index: 5;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigate__items {
  display: flex;
  gap: 60px;
}
.navigate__item {
  color: #fff;
  font-size: 13px;
  font-family: "Lato600", sans-serif;
  text-transform: uppercase;
}
.navigate__item a:hover {
  color: #43abf0;
}

.main {
  background-image: url("../images/main-back.png");
  background-size: cover;
  color: #000;
  padding: 204px 0;
}
.main__title {
  font-size: 48px;
  font-family: "Lato700", sans-serif;
  text-transform: uppercase;
  max-width: 780px;
}
.main__title span {
  color: #3e9cdc;
  font-family: "Lato700", sans-serif;
}
.main__subtitle {
  font-size: 20px;
  font-family: "Lato700", sans-serif;
  margin-top: 91px;
  max-width: 540px;
}
.main__list {
  margin-top: 10px;
  margin-left: 24px;
  max-width: 540px;
}
.main__item {
  font-size: 20px;
  position: relative;
  margin-bottom: 4px;
}
.main__item::before {
  width: 5px;
  height: 2px;
  background-color: #000;
  content: "";
  position: absolute;
  top: 10px;
  left: -16px;
}
.main__buttons {
  display: flex;
  margin-top: 81px;
  gap: 30px;
}

.button {
  width: 183px;
  height: 43px;
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #3e9cdc;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.button__file {
  background-color: #fff;
  border: 2px solid #3e9cdc;
  color: #272733;
}
.button:hover {
  -webkit-box-shadow: 0 0 10px 6px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0 0 10px 6px rgba(34, 60, 80, 0.3);
  box-shadow: 0 0 10px 6px rgba(60, 77, 94, 0.9);
}
.button-white {
  color: #2a2b30;
  background-color: #fff;
  border-color: #6f6d7b;
}
.button-white:hover {
  -webkit-box-shadow: 0 0 10px 6px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0 0 10px 6px rgba(34, 60, 80, 0.3);
  box-shadow: 0 0 10px 6px rgba(34, 60, 80, 0.3);
}

.order {
  background-color: #272733;
  background-image: url("../images/order-back.png");
  background-size: cover;
  padding-top: 117px;
  padding-bottom: 151px;
}
.order__title {
  color: #fff;
  font-size: 36px;
  font-family: "Lato800", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.order__title span {
  color: #3e9cdc;
  font-family: "Lato800", sans-serif;
}
.order__subtitle {
  color: #bbb;
  font-size: 18px;
  text-align: center;
  margin-top: 29px;
}
.order__items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.order__item {
  width: 209px;
  position: relative;
}
.order__item:not(:last-child)::after {
  background-image: url("../images/order-back-item.svg");
  background-repeat: no-repeat;
  width: 110px;
  height: 6px;
  content: "";
  position: absolute;
  top: 48px;
  left: 168px;
}
.order__form {
  margin-top: 87px;
}

.info__image {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3e9cdc;
  border: 5px solid #286690;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__text {
  color: #fff;
  font-size: 16px;
  margin-top: 21px;
  margin-left: 14px;
}

.select {
  position: relative;
  z-index: 2;
}
.select__view {
  padding: 12px;
  font-size: 18px;
  color: #272733;
  border-radius: 3px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.85);
  width: 370px;
  display: block;
  position: relative;
  cursor: pointer;
}
.select__view input {
  display: none;
}
.select__view svg {
  position: absolute;
  right: 10px;
  top: 14px;
  transition: 0.3s;
}
.select__options {
  position: absolute;
  width: 100%;
  max-height: 0;
  overflow-y: auto;
  background-color: #272733;
  border: 1px solid #3d4050;
  border-radius: 0 0 3px 3px;
  border-top: none;
}
.select__options::-webkit-scrollbar {
  width: 7px;
}
.select__options::-webkit-scrollbar-track {
  background: #272733;
}
.select__options::-webkit-scrollbar-thumb {
  background-color: #3e9cdc;
  border-radius: 20px;
}
.select__option {
  padding: 10px;
  cursor: pointer;
  color: #fff;
}
.select__option:hover {
  color: #42a9ed;
}
.select-active .select__view {
  background-color: rgba(61, 64, 80, 0.85);
  border: 1px solid #3d4050;
  color: #fff;
}
.select-active .select__view svg {
  transform: rotate(-180deg);
}
.select-active .select__view svg path {
  fill: #fff;
}
.select-active .select__options {
  max-height: 200px;
}

.form {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  gap: 30px;
}
.form input {
  padding: 12px;
  font-size: 18px;
  color: #272733;
  border-radius: 3px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.85);
  width: 370px;
}
.form input::placeholder {
  color: #272733;
}
.form__button {
  width: 370px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 600;
  grid-column: 2/3;
  padding: 23px;
}
.form__button img {
  margin-right: 10px;
}
.form__file input[type=file] {
  display: none;
}
.form__send {
  margin-top: 20px;
}

.range {
  grid-column: 1/3;
  color: #fff;
}
.range__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -3px;
}
.range__title {
  font-size: 18px;
  color: #fff;
}
.range__result {
  font-size: 18px;
  display: flex;
}
.range__line {
  margin-top: 17px;
}
.range__line input[type=range] {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 0;
}
.range__line input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 27px;
  width: 27px;
  background-color: #42a9ed;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #286690;
}
.range__line input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 27px;
  width: 27px;
  background-color: #42a9ed;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -13px;
}
.range__line input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 27px;
  width: 27px;
  background-color: #42a9ed;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -13px;
}

.footer {
  background-color: #3d4050;
  padding: 30px 0;
  color: #fff;
  font-size: 13px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright span {
  text-transform: uppercase;
}
.footer__divider {
  width: 1px;
  height: 18px;
  background-color: #c3c3c3;
}

.pay {
  display: flex;
  color: #c3c3c3;
  gap: 30px;
}
.pay__item {
  display: flex;
  align-items: center;
}
.pay__icon {
  width: 20px;
  height: 20px;
}
.pay__text {
  margin-left: 10px;
}

.contacts {
  display: flex;
  gap: 30px;
}
.contacts__item {
  display: flex;
  align-items: center;
}
.contacts__icon {
  width: 20px;
  height: 20px;
}
.contacts__text {
  margin-left: 10px;
}

@media (max-width: 1220px) {
  .container {
    max-width: 680px;
    padding: 20px;
  }
  .header__container {
    gap: 20px;
    justify-content: center;
  }
  .navigate__items {
    gap: 20px;
  }
  .main {
    padding: 160px 0 30px;
  }
  .main__subtitle {
    margin-top: 50px;
  }
  .order {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .order__items {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .order__item:not(:last-child)::after {
    display: none;
  }
  .form {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .form__send {
    margin-top: 0;
  }
  .range__info {
    gap: 10px;
  }
  .footer__container {
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    max-width: 400px;
  }
  .footer__divider {
    display: none;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 480px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__container {
    display: block;
    gap: 20px;
  }
  .header__logo {
    margin-bottom: 20px;
    text-align: center;
  }
  .navigate {
    text-align: center;
  }
  .navigate__items {
    flex-direction: column;
    gap: 10px;
  }
  .main {
    padding: 200px 0 10px;
  }
  .main__title {
    font-size: 34px;
  }
  .main__subtitle {
    margin-top: 20px;
  }
  .main__buttons {
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 300px;
  }
  .main {
    background-image: url("../images/main-back-mobile.png");
  }
  .main__title {
    font-size: 27px;
  }
  .order {
    padding-bottom: 20px;
  }
  .order__title {
    font-size: 27px;
  }
  .order__items {
    margin-top: 20px;
  }
  .order__form {
    margin-top: 30px;
  }
  .select__view {
    width: 300px;
  }
  .form input {
    width: 300px;
  }
  .form__button {
    width: 300px;
    margin: 0;
  }
  .footer {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
